<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/ ..\FrameXML\UI.xsd">
  <Script file="common.lua"/>
  <Script file="zones\frostfire.lua"/>
  <Script file="zones\gorgrond.lua"/>
  <Script file="zones\nagrand.lua"/>
  <Script file="zones\shadowmoon.lua"/>
  <Script file="zones\spires.lua"/>
  <Script file="zones\talador.lua"/>
  <Script file="zones\tanaan_jungle.lua"/>
</Ui>