<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/ ..\FrameXML\UI.xsd">
  <Script file="common.lua"/>
  <Script file="zones\dread_wastes.lua"/>
  <Script file="zones\jade_forest.lua"/>
  <Script file="zones\krasarang_wilds.lua"/>
  <Script file="zones\kunlai_summit.lua"/>
  <Script file="zones\townlong_steppes.lua"/>
  <Script file="zones\vale_of_eternal_blossoms.lua"/>
  <Script file="zones\valley_of_the_four_winds.lua"/>
  <Script file="zones\isle_of_thunder.lua"/>
  <Script file="zones\timeless_isle.lua"/>
</Ui>