<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/ ..\FrameXML\UI.xsd">
  <Script file="common.lua"/>
  <Script file="zones\ashenvale.lua"/>
  <Script file="zones\azshara.lua"/>
  <Script file="zones\blasted_lands.lua"/>
  <Script file="zones\caverns_of_time.lua"/>
  <Script file="zones\duskwood.lua"/>
  <Script file="zones\the_hinterlands.lua"/>
  <Script file="zones\feralas.lua"/>
  <Script file="zones\tanaris.lua"/>
</Ui>