name: Automated Release

on:
  push:
    tags:
      - "[0-9][0-9]_[a-zA-Z]+-v[0-9]+"
      - "[0-9][0-9]_[a-zA-Z]+-v[0-9]+.alpha[0-9]+"
      - "[0-9][0-9]_[a-zA-Z]+-v[0-9]+.beta[0-9]+"

jobs:
  build:
    name: Release Addon
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Install python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Build release artifacts and upload them to CF, WoWI and GitHub
      - name: Build release
        id: release
        run: |
          python release.py ${GITHUB_REF:10} \
            --curse-token ${{ secrets.CURSEFORGE_API_TOKEN }} \
            --wowi-token ${{ secrets.WOWINTERFACE_API_TOKEN }} \
            --github-token ${{ secrets.GITHUB_TOKEN }}
